// 산술 연산
// 기본적인 산술 연산은 곱하기, 나누기 후 더하기, 빼기를 하는 규칙과 동일함.
div {
  width: 20px + 20px;
  height: 40px - 10px;
  font-size: 10px * 2;
  margin: 30px / 2;
  padding: 20px % 7;
}
/* 위 구문은 아래와 같다.
div {
  width: 40px;
  height: 30px;
  font-size: 20px;
  margin: 30px / 2; // 동작 제대로 안 함
  padding: 6px; 
}
*/

span {
  font-size: 10px;
  line-height: 10px;
  font-family: serif;
  // 위의 3가지를 단축 속성으로 나타낸 것.
  font: 10px / 10px serif;
  // 이와 같이 단축 속성이라는 것이 존재하는데, 이 단축 속성에서 구분자가 되는 것이 나누기인 슬래시 기호이다.
  // 따라서 연산의 나누기가 아닌 단축속성으로 인식하게 된다.
}

// 그럼 어떻게 나누기 연산을 사용하는가?
// 방법 1. 괄호 사용
.sol1 {
  margin: (30px / 2); // 15px로 인식한다.
}

// 방법 2. 변수를 활용한다. (이때에는 괄호가 필요 없다)
.sol2 {
  $size: 30px;
  margin: $size / 2; // 15px로 인식한다.
}

// 주의할 점
// 산술 연산은 기본적으로 단위가 동일해야 한다.

// 불가능한 예시
.impossible {
  width: 100% - 200px; // 실행 불가
}

// 이를 대신하기 위해 calc()를 사용할 수 있긴 하다.
.possible {
  width: calc(100% - 200px); // 실행 가능
}